/* Description: Reproduction du site SOLEDAD
Auteurs: Marine Cormier et Eliez Maigné
*/
body {
    width: 100%;
    height: 100%;
}

/*=====================NAVBAR=======================*/

nav{
    height: 60px;
    width: 100%;
    background-color: black;
}

.navbar{
    padding-top: 17px;
    padding-left: 0px;
    border:none;
}

ul li a{
    color: #999999;
    font-family: 'Playfair Display Regular', serif;
    font-size: 13px;
}

a {
    padding-right: 40px;
}

ul {
    list-style: none;
    margin: 0;
}

ul li {
    display: inline;
}

/*=====================HEADER=======================*/

header {
    height: 300px;
    background-color: #F5F5F5;
}

h1 {
    padding-top: 30px;
    text-align: center;
}

h2 {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
    color: black;
    text-align: center;
    font-family: 'PT Serif', serif;
    padding-bottom: 40px;
}
.presentation_img {
    display: flex;
    margin-left: 0;
    width: 100%;
    height: 700px;

}
.article_avant {

    background-color: #FFFFFF;
    height: 100px;
}

/*=====================ARTICLES=======================*/

.container-fluid {
    text-align: center;
    width: 1170px;
    padding: 0;
}

.article {
    text-align: justify;
    margin: 33px;
}
.article_img {
    width: 571px;
    height: 380px;
    background-size: cover;
}
.category {
    font-family: 'Lato', sans-serif;
    color: #a60505;
    font-size: 12px;
    margin-top: 30px;
}
.post-title {
    font-family: 'Playfaair Display', serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 22px;
}

.author_date {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color: #888888;
    
}
hr {
    width: 60px;
    height: 1px;
    background-color: #a60505;
}
p {
    font-size: 14px;
    line-height: 28px;
    
}
.article {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.bar::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 35%;
    background: #DEDEDE;
    display: block;
    margin-top: 40px;    
}

.share-bar {
    background: #ffffff !important;
    position: relative;
    display: inline-block;
    padding: 0 10px;
    margin-top: 30px;
    margin-bottom: 50px;
    
}
.bar::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 35%;
    background: #DEDEDE;
    margin-top: 40px;
    
}
i {
    margin-left: 14px;
}

footer {
    padding: 0;
    margin: 0;
    height: 300px;
    width: 100%;
    background-color: black;
}

.img_insta {
    height: 150px;
    max-width: 150px;
}

.container {
    width: 100%
}

